.main-content {
  background-color: #F9FAFC;
  max-height: 100vh;
}

.top-navbar {
  background-color: #1d1d1d;
}

.MuiToolbar-regular.top-navbar {
  min-height: 72px;
}

.dashboard-container {
  overflow: auto;
  max-height: 100vh;
}